<div class="card col-md-6">
  <div class="card-header">{{ trip.name }}</div>
  <img
    src="assets/images/{{ trip.image }}"
    alt="trip thumbnail"
    class="card-img-top"
  />
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      {{ trip.resort }}
    </h6>
    <p class="card-subtitle mt-3 mb-3 text-muted">
      {{ trip.length }} only {{ trip.perPerson | currency: "USD" : 'symbol' }} per
      person
    </p>
    <p class="card-text" [innerHTML]="trip.description"></p>
    <div class="d-flex justify-content-between">
      <button (click)="removeTrip(trip)" class="btn btn-info">Delete</button>
      <button (click)="returnHome()" class="btn btn-info">Cancel</button>
    </div>
  </div>
</div>

